{{ define "content" }}

<a href="/new" class="btn btn-primary">
  Upload new image
</a>

<ul class="media-list">
  {{ range $key, $value := .images }}
     <li class="media">
       <strong>{{ $key }}</strong>:
       <a href="/images/{{ $value.id }}">
         <div class="media-left">
           <img class="media-object" src="{{ $value.url }}" />
         </div>
         <div class="media-body">
           <h4 class="media-heading">{{ $value.title }}</h4>
           {{ $value.description }}
         </div>
       </a>
     </li>
  {{ end }}

</ul>

{{ end }}
