{{ define "content" }}

<div>
  <h1>
    Welcome, Jess!2
  </h1>

  <ul class="list-group">
    <li class="list-group-item">
      <a href="/images">
        Go to the images
      </a>
    </li>
    <li class="list-group-item">
      <a href="/articles">
        Go to the articles
      </a>
    </li>
  </ul>
</div>

{{ end }}
