{{ define "content" }}
<ul class="nav nav-pills">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/images">Images</a></li>
  <li role="presentation"><a href="/articles">Articles</a></li>
  <li role="presentation"><a href="/stories" class="active">Stories</a></li>
  <li role="presentation"><a href="/subscribers">Subscribers</a></li>
</ul>

<div class="media-item-new">
  <a href="/new/story" class="btn btn-primary media-item-button">
    Add new story
  </a>
</div>

<ul class="media-list">
  {{ range $key, $value := .stories }}
     <li class="media media-item">
       <a class="media" href="/stories/{{ $value.ID }}">
         <div class="media-body">
           <h4 class="media-heading">{{ $value.Title }}</h4>
         </div>
       </a>
     </li>
  {{ end }}
</ul>
{{ end }}
