.media-list
  .media-item
    padding: 15px
    display: inline-block
    border: 1px solid #ccc
    border-radius: 5px
    margin: 5px
    vertical-align: top
    background: rgba(#aaa, 0.2)
    transition: all 0.2s

    &:hover
      background: rgba(#aaa, 0.6)
