{{ define "content" }}

<script src="/assets/article.js"></script>

<div>
  <h1 class="text-center">
    Article writing
  </h1>
  <div>
    <a href="/articles">
      Back to the list of articles
    </a>
  </div>
  <form action="/article" method="POST" class="col-md-8 col-md-offset-2">
    <input type="hidden" name="id" value="{{ .id }}" />
    <div class="form-group">
      <label>
        Title
      </label>
      <input class="form-control" type="text" name="title" value="{{ .title }}" />
    </div>
    <div class="form-group">
      <label>
        Subtitle
      </label>
      <input class="form-control" type="text" name="subtitle" value="{{ .subtitle }}" />
    </div>
    <div class="form-group">
      <label>
        Cover
        <span class="help-block">
          please, paste link to the 1200px version from the website
        </span>
      </label>
      <input type="text" name="cover" class="form-control" value="{{ .cover }}" />
    </div>
    <div class="form-group">
      <label>
        Country
      </label>
      <select name="country" id="country" data-selected-id="{{ .country }}"></select>
    </div>
    <div class="form-group">
      <label>
        State
        <span>
          this might be helpful for USA travels. (ignored for now)
        </span>
      </label>
      <select name="state" id="state"></select>
    </div>
    <div class="form-group">
      <label>
        City
      </label>
      <input type="text" name="city" class="form-control" value="{{ .city }}" />
    </div>
    <div class="form-group">
      <label>
        Text of the article
      </label>
      <p class="help-block">
        This is a medium-style editor. You can add styles to the selected text by double-clicking on it,
        add links and also convert links to the images to the actual images.
      </p>
      <textarea name="text" rows="10" class="medium-editor" id="content">{{ .text }}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">
      Submit article
    </button>
  </form>

</div>

{{ end }}
