{{ define "content" }}

<div>
  <h1>
    Welcome, Jess!
  </h1>

  <ul>
    <li>
      <a href="/images">
        Go to the images
      </a>
    </li>
    <li>
      <a href="/articles">
        Go to the articles
      </a>
    </li>
  </ul>
</div>

{{ end }}
