{{ define "content" }}

<div class="md-col-6 md-col-offset-3">
  <div class="alert alert-success" role="alert">
    {{ .message }}
  </div>
  <a href="/">
    To the main page
  </a>
</div>
{{ end }}
