.medium-editor {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 200px;
  font-size: 16px;
  padding: 5px; }
  .medium-editor:focus {
    outline: 0; }


.image-uploader {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.image-info {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.image-container {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  padding: 20px 0 0 35px; }

.image-source {
  width: 100%; }

.back-link {
  text-decoration: underline;
  font-size: 20px;
  display: inline-block;
  margin: 20px 0; }
  .back-link:before {
    content: '<'; }

.media-item {
  padding: 10px; }
  .media-item:hover {
    background: rgba(170, 170, 170, 0.25); }

.media-item-new {
  max-width: 250px;
  position: fixed;
  background: #333;
  color: #fff;
  top: 30px;
  right: 50px;
  padding: 20px 15px;
  border-radius: 10px; }

.media-item-image {
  width: 120px; }

.media-list .media-item {
  padding: 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  vertical-align: top;
  background: rgba(170, 170, 170, 0.2);
  transition: all 0.2s; }
  .media-list .media-item:hover {
    background: rgba(170, 170, 170, 0.6); }

.media-item-new .media-options {
  margin-top: 15px; }

.media-item-new .media-options-link {
  display: block;
  color: #fff;
  text-decoration: none; }
  .media-item-new .media-options-link:hover {
    text-decoration: underline; }


.image-picker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center; }
  .image-picker--content {
    background: #fff;
    padding: 30px;
    height: 85vh;
    top: 5vh;
    width: 90vw;
    overflow-y: scroll;
    position: relative; }
  .image-picker--search {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    background: #ccc; }
  .image-picker--close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    cursor: pointer; }
  .image-picker--item {
    border: 1px solid gray;
    padding: 10px;
    transition: all 0.2s;
    cursor: pointer; }
    .image-picker--item:hover {
      background: #ddd; }
  .image-picker--image {
    max-width: 200px;
    max-height: 150px; }

.story-image {
  margin-top: 40px;
  padding: 15px;
  background: #eee; }
  .story-image--image {
    max-height: 200px;
    display: block;
    margin: 10px 0; }
  .story-image--arrows {
    position: absolute;
    margin-left: -60px; }
  .story-image--up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0.5; }
    .story-image--up:hover {
      opacity: 1; }
  .story-image--down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0.5; }
    .story-image--down:hover {
      opacity: 1; }
